bin/
.cache
cutest-1.5/
compile_commands.json
tests/CuTest.h
include/parserTables.h
include/packets.h
include/config.h
python/proto.py
gmon.out
/config.cfg
/debug
**/*.o
**/lib/
./tests/configs/debug.cfg
